{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'todolist/css/todo.css'%}">
</head>
<body>

    <div class="box" id="heading">
        <h1>To-do list</h1>
    </div>

    <div class="box">

        {% for todo in todolist %}
            <div class="item">

                <form action="{% url 'todolist:delete' todo.id %}" method="POST" class="float-right d-inline">
                    {% csrf_token %}
                    <button type="submit">-</button>
                </form>
                <p>{{todo.content}}</p>
                
            </div>
        {% endfor %}      

        <form class="item" action="{% url 'todolist:insert' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="content" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>

    </div>

</body>
{% endblock %}